/*mattew  Galloway*/

/*couleur*/

.color_wy {
  color: #ebebe8;
}

.color_wr {
  color: #EEDDDD;
}

.color_pink_pastel {
  color: #c17cad;
}

.color_gg {
  color: #444a45;
}

.color_blue_pastel {
  color: #4c77ba;
}

/*background color*/

.bg_color_wy {
  background-color: #ebebe8;
}

.bg_color_wr {
  background-color: #EEDDDD;
}

.bg_color_pink_pastel {
  background-color: #c17cad;
}

.bg_color_gg {
  background-color: #444a45;
}

.bg_color_blue_pastel {
  background-color: #4c77ba;
}